@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Retro-win-bold";
    src: url("../src/assets/font/MS-Sans-Serif-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Retro-win";
    src: url("../src/assets/font/MS-Sans-Serif.ttf") format('truetype');
}